@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="btn_JS" class="m-2">JavaScript</button>
    <div id="tab1" class="container bg-info"></div>
    <button id="btn_JQ" class="m-2">jQuery</button>
    <div id="tab2" class="container bg-success"></div>
</div>

@section Scripts{

    <script>
var emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };
        //JavaScript===============================================================
        document.querySelector("#btn_JS").addEventListener("click", () => {
            const tab1 = document.querySelector("#tab1");

            tab1.innerHTML = `<div class="row">
                                    <div class="col border border-primary"><h2>JavaScript<h2></div>
                                 </div>
                                 <div class="row">
                                    <div class="col border border-primary font-italic">Name</div>
                                    <div class="col border border-primary font-italic">WorkYears</div>
                                    <div class="col border border-primary font-italic">Salary</div>
                                  </div>`;
            emp.employees.forEach(employee=> {
                let { name, workYears, salary } = employee;
                tab1.innerHTML += `<div class="row">
                                        <div class="col border border-primary">${name}</div>
                                        <div class="col border border-primary">${workYears}</div>
                                        <div class="col border border-primary">${salary}</div>
                                     </div>`;
            })
        })
        //JQ====================================================================
        $("#btn_JQ").click(()=> {
            $("#tab2").html(`<div class="row">
                                    <div class="col border border-primary"><h2>jQuery<h2></div>
                                 </div>
                                 <div class="row">
                                    <div class="col border border-primary font-italic">Name</div>
                                    <div class="col border border-primary font-italic">WorkYears</div>
                                    <div class="col border border-primary font-italic">Salary</div>
                                  </div>`);
            $.each(emp.employees, (index, emp) => {
                const { name, workYears, salary } = emp
                $("#tab2").append(`<div class="row">
                                        <div class="col border border-primary">${name}</div>
                                        <div class="col border border-primary">${workYears}</div>
                                        <div class="col border border-primary">${salary}</div>
                                     </div>`)
            })
        })
    </script>
}