

<div class="col-3"></div>
<div class="col-6">
    <form method="post" enctype="application/x-www-form-urlencoded" action="~/api/index">
        <div class="form-group">
            <label for="InputName">姓名</label>
            <input type="text" class="form-control" id="InputName" name="name">
        </div>
        <div class="form-group">
            <label for="InputEmail">電子郵件</label>
            <input type="text" class="form-control" id="InputEmail" name="email">
        </div>
        <div class="form-group">
            <label for="InputAge">年紀</label>
            <input type="number" class="form-control" id="InputAge" name="age">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <div class="alert alert-info" id="div1"></div>
</div>
<div class="col-3"></div>
@section Scripts{
    <script>
    const btnSubmit = document.querySelector('.btn');
    const txtName = document.querySelector('#InputName');
    const txtEmail = document.querySelector('#InputEmail');
    const txtAge = document.querySelector('#InputAge');
    const divInfo = document.querySelector('#div1');

        btnSubmit.addEventListener("click", (evt) => {
            evt.preventDefault();

        const xhr = new XMLHttpRequest();

            xhr.addEventListener("load", () => {
                const data = xhr.responseText;
                divInfo.innerHTML = `<h3>${data}</h3>`;

            })

          const params = `name=${txtName.value}&email=${txtEmail.value}&age=${txtAge.value}`
    xhr.open(`POST`, `@Url.Content("~/api/index")`);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
    xhr.send(params);
    })

    </script>
}