@{
    ViewData["Title"] = "Promise";
}

<h1>Promise</h1>

@section Scripts{
    <script>



        function printSomething(pdid) {
            const promise = new Promise((resolve, reject) => {
                ut(() => { resolve(data) }, 1000);
            })
            return promise;
        }


        printSomething("a").then((data) => { console.log(data); return printSomething("b") })
            .then((data) => { console.log(data); return printSomething("c") })
            .then((data) => { console.log(data); });
    </script>
}
